.container {
	width: 300px;	height: 300px;
	outline: 1px solid black;
	position: relative;
}
.field {
	width: 200px;	height: 200px;
	outline: 1px solid black;
	position: absolute;
	top: 25px; left:50px;
}
.cell {
	float: left;
	outline: 1px solid black;
	width: 12.5%;	height: 12.5%;
	text-align:  center;
}
.counter {
	position: absolute;
	bottom: 25px; left: 25px;
}
.buttonNewGame {
	position: absolute;
	bottom: 25px; right: 25px;
	padding: 2px;
	outline: 2px solid black;
}